/* section : 4 "OOUR JOURNAL" bottom start  */
@font-face {
  font-family: "Butler";
  src: url("fonts/butler-regular.woff2") format("woff2"),
    url("fonts/butler-regular.woff") format("woff"),
    url("fonts/butler-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.our_journal_blogs {
  text-align: center;
}

.our_journal_blogs h5 {
  font-family: "Poppins", Sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  /* margin-top: 5.5rem; */
  margin-bottom: 0px;
}

.custom-card {
  width: 20rem;
  margin-right: 20px;
}

.custom-card img {
  filter: grayscale(100%);
  width: 20rem;
  height: 15rem;
}

.custom-card img:hover {
  filter: none;
}

.card {
  padding: 0px;
}

.blog_body {
  width: 100%;
  height: 100%;
}

.blog_body span {
  color: #f3d400;
  font-weight: 500;
  letter-spacing: 0.7px;
  font-size: 0.9rem;
}

.blog_body h3 {
  font-size: 22px;
  font-weight: 500;
}

.blog_body p {
  color: #696969;
  font-size: 13px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: goldenrod !important;
  color: red !important;
  margin-top: 550px;
  /* z-index: 99; */
  border-radius: 50%;
  width: 1.8rem !important;
  height: 1.8rem !important;
}

.carousel-control-prev,
.carousel-control-next {
  visibility: hidden !important;
}

.carousel:hover .carousel-control-prev,
.carousel:hover .carousel-control-next {
  visibility: visible !important;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 0.5 !important;
  background-color: white;
}

.carousel-control-prev:hover {
  /* opacity: 1 !important; */
}

.carousel-control-next:hover {
  /* opacity: 5 !important; */
}

.main_logos_imges_div {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.logos_div {
  /* width: 70px;
  height: 70px; */
  background-color: red !important;
}

.logos_div img {
  width: 100%;
  height: 100%;
  aspect-ratio: 4/3;
}

/* section : 4 "OUR JOURNAL" bottom End  */

/* section : 5 "flex image start  */

@media (max-width: 576px) {
  .logos_div {
    width: 263px;
    height: 219px;
    margin: auto;
    margin-top: 3rem;
  }

  .forth_Section_images {
    width: 100%;
    height: auto;
  }

  .forth_Section_images:first-child {
    display: block;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    margin-top: 425px !important;
  }
}

@media (max-width: 575px) {
  /* .carousel-control-prev-icon,
  .carousel-control-next-icon {
    margin-top: 650px !important; */
  /* } */


  .carousel-control-prev-icon {
    margin-bottom: 250px;
    margin-left: -10px !important ;
  }


  .carousel-control-next-icon {
    margin-bottom: 250px;
    margin-left: 10px !important ;

  }
}

@media (min-width: 1024px) {
  .carousel-control-prev-icon {
    margin-left: -144px;
    margin-bottom: 193px;
  }


  .carousel-control-next-icon {
    margin-left: 133px;
    margin-bottom: 189px;

  }
}

@media (max-width: 1024px) {
  /* .carousel-control-prev-icon,
  .carousel-control-next-icon {
    margin-top: 440px !important;

  } */


}

@media (max-width: 1440px) {

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    margin-top: 425px;
  }
}

@media (max-width: 768px) {
  /* .carousel-control-prev-icon,
  .carousel-control-next-icon {
    margin-top: 490px !important; */

  .carousel-control-prev-icon {
    margin-left: -80px;
    margin-bottom: 210px;
  }


  .carousel-control-next-icon {
    margin-left: 70px;
    margin-bottom: 210px;

  }
}

.menu-item a {
  font-family: Poppins;
  text-wrap: nowrap !important;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: #434343;
}

/* .menu-short-container {
  margin-left: 36px;
} */


/* section : 5 "flex image End  */

/* footer start  */
.main_left_footer_div {
  background-color: #f3d400;
  padding: 10px 5px;
}

.left_footer_content {
  margin-right: 14rem;
}

.logos-div {
  /* background-color: red !important;  */
   height: 75px;
  width: 75px;
}

.card img {
  filter: grayscale(100%);
}

.card img:hover {
  filter: grayscale(0%);
}

.logos-div img {
  height: 100;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  opacity: .5;
}

.left_footer_content p {
  color: white;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bolder;
}

.left_footer_content strong {
  color: white;
  color: #fff;
  font-size: 1.133rem;
  font-weight: bolder;
}

.name_email_inputs {
  margin-right: 2%;
  min-width: 17.733rem;
  max-width: 80%;
  width: 39%;
}

.footer_input_submit input {
  padding: 0.4rem 1.4rem;
  background-color: #363636;
  color: #ffffff;
}

/* footer End  */

@media only screen and (max-width: 567px) {
  .product {
    width: auto !important;
  }

  .left_banner {
    width: auto !important;
  }

  /* .left_img img {
      object-fit: cover !important;
    } */  
  .logos-div {
    /* background-color: red; */
    height: 200px !important;
    width: 200px;
    margin: auto;
    margin-top: 3rem;
  }
}