/* section : 4 "OUR BESTSELLING ITEMS bottom start  */
.best_saleing_iteams {
    text-align: center;
  }
  .best_saleing_iteams h5{
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 5.5rem;
    margin-bottom: 0px;
  }
  .best_saleing_iteams_header h2 p {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Poppins", Sans-serif;
  }
    

  .nn{
    position: relative;
  }
  
  .mm{
  position: absolute;
  top:15px;
  right: 25px;
  visibility: hidden;
  
  }
  
  .product:hover .mm{
  visibility:visible
  } 
  /* section : 3 "OUR BESTSELLING ITEMS" bottom End  */